<mat-toolbar bgColor="black" class="header-nav" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="holder" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="80%" >
    <div>
      <img class="logo" src="/assets/images/logo.png">
    </div>
    <div  fxLayout="row" fxLayoutAlign="space-around center">
      <button class="menu-button" color="white" mat-button>Oppertunities</button>
      <button class="menu-button" color="white" mat-button>Collaborations</button>
      <button class="menu-button" color="white" mat-button>Events</button>
      <button class="menu-button" color="white" mat-button>Communities</button>
      <button class="menu-button" color="white" mat-button>About</button>
    </div>
    <div class="avtar">
      <img src="https://lh3.googleusercontent.com/-jLgmJe8fe0A/AAAAAAAAAAI/AAAAAAAAAAA/AAN31DWwtK7I4EwWaWgZOMu_1IHLVu2jVw/mo/photo.jpg?sz=46">
    </div>
  </div>
</mat-toolbar>