
.wide-image-holder{
  background-image: url('https://cdn.movemeback.com/images/companies-header2.jpg');
  height: 400px;
  background-size: cover;
}

.banner-text{
  margin: 0 auto;
  color: white;
  
}